body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ccc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    color: #ccc;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ccc;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
